@media (max-width: 575px) {
  .width-25 {
    width: 25%;
  }
  .width-50 {
    width: 50%;
  }
  .width-75 {
    width: 75%;
  }
  .width-100 {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .width-s-25 {
    width: 25%;
  }
  .width-s-50 {
    width: 50%;
  }
  .width-s-75 {
    width: 75%;
  }
  .width-s-100 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .width-md-25 {
    width: 25%;
  }
  .width-md-50 {
    width: 50%;
  }
  .width-md-75 {
    width: 75%;
  }
  .width-md-100 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .width-lg-25 {
    width: 25%;
  }
  .width-lg-50 {
    width: 50%;
  }
  .width-lg-75 {
    width: 75%;
  }
  .width-lg-100 {
    width: 100%;
  }
}